html {
    font-family: 'Poppins', sans-serif;
}

.section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.plutus-navbar {
    background-color: white;
    padding: 25px;
    box-shadow: var(--shadow-1);

    display: flex;
    justify-content: center
}

.plutus-navbar ol {
    padding: 0;
    list-style-type: none;
}

.plutus-navbar li {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    margin-right: 1rem;
}

[x-cloak] { display: none !important; }